h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
}

.App {
  min-height: 100vh;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7;
  padding: 10px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.container{
  padding: 10px;
}

.sub {
  font-size: 10px;
  color: rgb(80, 80, 80);
}

.btn{
  border: none;
  border-radius: 16px;
  padding: 10px;
  background-color: #c9c9c97a;
}
